*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 132px;
}
.card{
    width: 319px;
    height: 492px;
    border: 4px solid #554C4C;
    background: rgba(217, 217, 217, 0.30);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.logo{
    width: 100px;
    height: 100px;
    border: 4px solid #554C4C;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    position: absolute;
    top: -50px;
}
h3{
    color: #000;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
p{
    width: 211px;
    color: #000;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
