@media screen and (min-width: 0) and (max-width: 480px) {
    body{
        font-size: 10px;
    }
    .wrapper{
        flex-direction: column;

    }
    main, aside{
        width: 100%;
    }
    main{
        height: 60vh;
    }
    aside,header,footer,section{
        height: 10vh;
    }
    section{
        width: 100%;
        display: flex;
        background-color: lightskyblue;
    }
    header p::after{
        content: "mobile";
    }
    main,aside,footer{
        font-size: 1.3em;
    }
}