@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
.items{
    padding: 64px 0;
    width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}
.item{
    width: 372px;
    height: 354px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}
.item img{
    width: 100%;
    border-radius: 10px;
}
.item h3{
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    padding-top: 20px;
}
.item p{
    font-size: 13px;
    line-height: 120%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #3C3C43;
    padding-top: 15px;
}