@media screen and (min-width: 0) and (max-width: 480px) {
    .circle-left, .circle-right{
        display: none;
    }
    .page-not-found{
        padding: 0 16px;
    }
    .page-not-found h2{
        color:  rgba(255,255,255,0.90);
        text-align: center;
        font-family: inter, sans-serif;
        font-size: 110px;
        font-style: normal;
        font-weight: 700;
        line-height: 82px;
        letter-spacing: -0.5px;
    }
    .page-not-found h3{
        color:  rgba(255,255,255,0.90);
        font-size: 28px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        margin: 16px 0  8px 0;
    }
    .page-not-found p{
        color:  rgba(255,255,255,0.75);
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        width: 100%;
    }
    .page-not-found div{
        padding-top: 24px;
        flex-direction: column;
    }
    .page-not-found div button:nth-child(1){
        display: flex;
        height: 64px;
        padding: 0 28px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 32px;
        background: #6F1DF4;
        flex-shrink: 0;
    }
    .page-not-found div button:nth-child(2){
        color: #000;
        display: flex;
        height: 64px;
        padding: 0 28px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 32px;
        background: #FFF;
        flex-shrink: 0;
    }
}