@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz@0,14..32;1,14..32&display=swap');
.items{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 32px;
    padding: 64px 0;
}
.item{
    width: 271px;
    height: 280px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
}
.item img{
    width: 160px;
    height: 160px;
    border-radius: 160px;
}
.item h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    color: #161543;
    padding-top: 20px;
}
.item p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #7687A1;
    padding-top: 10px;
}
