@media screen and (max-width: 768px) {
    .items{
        width: 100%;
        gap: 32px;
        padding: 32px 16px;
    }
    .item{
        width: 343px;
        height: 220px;
    }
    .item img{
        width: 128px;
        height: 128px;
    }
    .item h3{
        padding-top: 16px;
    }
    .item p{
        padding-top: 8px;
    }
}