*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h2{
    color: #0093ff;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.cards{
    padding: 39px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}
.card{
    width: 245px;
    height: 291px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 32px;
    background: #FFF;
    box-shadow: 0 4px 20px 0 rgba(139, 139, 139, 0.10);
    position: relative;
}
.star1{
    position: absolute;
    top: -30px;
    width: 20px;
    height:20px;
    padding: 18px;
    background: #FFF;
    border-radius: 32px;
    box-shadow: 0 4px 20px 0 rgba(139, 139, 139, 0.3);
}
.sneakers{
    width: 220px;
    height:190px;
}
.title-card{
    color: #282828;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.blue-price{
    color: #106FDF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.red-price{
    color: #ff3030;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
