body{
    background-image: url("images/img_2.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom;
}
p{
    color: aqua;
    /*font-size: 40px;*/
    width: 50%;
    height: 50px;
    background-color: lightskyblue;
    display: block;
}

h2, h3{
    color: aquamarine;
}

sub, sup{
    font-size: 16px;
}

span{
    display: inline-block;
    color: red;
    width: 50%;
    height: 50px;
    background-color: lightskyblue;

}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}